.friend-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.friend-list-item {
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.friend-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #f3f3f3;
  width: 100px;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.friend-name {
  font-size: 28px;
  font-weight: bold;
  margin: 8px 0;
  color: black;
}

.friend-status {
  font-size: 20px;
  font-weight: bold;
}

.online {
  color: green;
}

.offline {
  color: red;
}
