.transaction-history-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow-x: auto;
}

.transaction-history {
  width: 100%;
  border-collapse: collapse;
}

.transaction-history th {
  background-color: #3c3c3b;
  color: white;
  padding: 10px;
  text-align: center;
}

.transaction-history td {
  padding: 8px;
  text-align: center;
  color: black;
  background-color: #f7f3f3;
  border: 1px solid #050505f2;
}

.even-row {
  background-color: rgb(16, 16, 15);
}

.odd-row {
  background-color: #0a0a0a;
}
